/* !! Heart animations !! */

/* ---------- Like effect ---------- */

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-blink 0.3s ease-in 0.3s;
}

/* ---------- Hover effect ---------- */

.card__icon-button:hover .heart-icon * {
  opacity: 1;
}

/* ---------- Active effect ---------- */

.card__icon-button:active .main-body,
.card__icon-button:active .core {
  fill: var(--active-heart-color, #ff0000);
}

.like-icon.is-liked .heart-icon * {
  fill: var(--active-heart-color, #ff0000);
  opacity: 1;
}

/* ---------- Transitions ---------- */

.contour {
  transition: fill 0.3s 0.06s;
}

.main-body {
  opacity: 0;
  transition: opacity 0.3s,
              fill 0.3s 0.03s;
}

.core {
  opacity: 0;
  transition: opacity 0.3s 0.03s,
              fill 0.3s;
}

.card__icon-button:hover .main-body {
  transition: opacity 0.3s 0.05s;
}

.card__icon-button:hover .core {
  transition: opacity 0.3s;
}