/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ---------- Page styles ---------- */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-font-line-height, 21px);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  justify-items: center;
}

/* ---------- Header layout ---------- */

.header {
  inline-size: var(--header-inline-size, min(100%, 700px));
  block-size: var(--header-block-size, clamp(20.438rem, 12.615vw + 17.481rem, 23rem));
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  display: grid;
  text-align: center;
  gap: 20px;
  border: 2px solid #000;
  background-color: #fff;
  margin: auto;
  margin-block-end: 100px;
}

.header__logo {
  align-content: end;
  font-size: var(--header-logo-sizes, clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem));
  line-height: var(--header-logo-sizes, clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem));
}

.header__title {
  font-size: var(--header-title-sizes, clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem));
  line-height: var(--header-title-sizes, clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem));
  text-transform: uppercase;
}

/* ---------- Main layout ---------- */

.cards {
  display: grid;
  flex-direction: column;
  justify-items: center;
  gap: 50px;
}

.card {
  inline-size: var(--main-inline-size, min(100%, 700px));
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  font-size: var(--card-title-font-size, 18px);
  line-height: var(--card-title-line-height, 21.78px);
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
  padding: 3.5px 10px 5.5px;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  inline-size: 100%;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__image-lable {
  position: absolute;
  inset: 25px var(--card-image-lable-right, clamp(0.813rem, 3.692vw - 0.053rem, 1.563rem)) auto auto;
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: 14px;
  color: #000;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-lable {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  display: grid;
  gap: 25px;
  justify-items: end;
}

.card__textblock {
  display: grid;
  gap: 27px;
}

.card__like-button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10.5px 37px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 13px;
  line-height: 13px;
}

.save-button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 15px 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  inline-size: var(--modal-inline-size, clamp(21.313rem, 3.692vw + 20.447rem, 22.063rem));
  block-size: content;
  background-color: #fff;
  outline: 2px solid #000;
  border: none;
  padding: var(--modal-padding, 30px 42px);
  flex-direction: column;
  gap: 30px;
}

.modal[open] {
  display: grid;
}

.page:has(.modal[open]) {
  overflow: hidden;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.modal-content {
  display: grid;
  gap: 20px;
}

.modal__text {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: 21px;
}

.modal-button {
  inline-size: 100%;
  padding: 12.5px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}