/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background-gradient: 
        repeating-linear-gradient(
            to right,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            to bottom,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            #e7e7e7 0.01%,
            #1a1a1a 100%
        );

  /* Fonts */
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --main-font-size: 18px;
  --main-font-line-height: 21px;
  --main-font-weight: 400;
  --main-font-title-weight: 700;

  /* Header */
  --header-inline-size: min(100%, 700px);
  --header-block-size: clamp(20.438rem, 12.615vw + 17.481rem, 23rem);
  --header-logo-sizes: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --header-title-sizes: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);

  /* Main */
  --main-inline-size: min(100%, 700px);
  --card-title-padding: 3.5px 10px 5.5px;
  --card-title-font-size: 18px;
  --card-title-line-height: 21.78px;
  --card-title-font-weight: 700;
  --card-image-lable-right: clamp(0.813rem, 3.692vw - 0.053rem, 1.563rem);
  --save-icon-size: 21px;

  /* Modal */
  --modal-inline-size: clamp(21.313rem, 3.692vw + 20.447rem, 22.063rem);
  --modal-padding: 30px 42px;

  /* Heart-icon */
  --contour-color: #000;
  --sparks-color: #ff0000;
}

@media screen and (width <= 375px) {
  :root {
    --header-logo-sizes: clamp(2.375rem, 1.5893rem + 6.2857vw, 3.0625rem);
    --save-icon-size: 28px;
  }
}

@media screen and (width >= 700px) {
  :root {
    /* --card-title-padding: 3px 10px; */
    --modal-padding: 30px;
  }
}